$PRIMARY: #ffe600;
$GRAY01: #999999;
$GRAY02: #eeeeee;
$GRAY03: #666666;

.main-header {
  background-color: $PRIMARY;
  height: 62px;
  text-align: center;
}

.form {
  display: inline;
  height: 60px;
  padding-left: 25px;
  position: relative;
}

.input-header {
  width: 55%;
  font-size: 18px;
  vertical-align: middle;
  height: 35px;
  outline: none;
  border: 0;
  text-indent: 10px;
  border-radius: 4px;
}

.logo {
  vertical-align: middle;
}

.logo-container {
  display: inline;
}

.container {
  padding-top: 13px;
}

.search-button {
  height: 35px;
  right: 2px;
  position: absolute;
  bottom: 2px;
  outline: none;
  border: 0;
  background-color: $GRAY02;
  padding: 5px 10px 0 10px;
  top: -5px;
}

.search-icon {
  height: 16px;
  width: 16px;
}

textarea:focus,
input:focus {
  outline: none;
}

::placeholder {
  color: $GRAY01;
}
